*
{
    font-family: 'Poppins', sans-serif ;
}
body {
    background-image: url("images/backlogin.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment: fixed;
}
#laforme {
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:90vh;
}
.container{
    width: 350px;
    display: flex;
    padding: 0 15px 0 15px;
    flex-direction: column;

}
span{
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
header{
    color:#BC9C22 ;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.input-field{
    display: flex;
    flex-direction: column;
}
.input{
height: 45px;
width: 87%;
border: none;
outline: none;
border-radius: 30px;
color: black;
padding: 0 0 0 45px;
background: rgba(255, 255, 255, 0.7);;
}
i{
    position: relative;
    top:30px;
    left:20px;
    color: #BC9C22;
}
::-webkit-input-placeholder{
    color: #BC9C22;
}
.submit{
    border: none;
    color:#677B5E;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width:100%;
    cursor: pointer;
    transition: .3s;
    background: rgba(255, 255, 255, 0.7);
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(188,156,34,0.2);

}
.bottom{
    display: flex;
    font-size: small;
    color :#fff;
    margin-top: 10px;

}